#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#title {
  font-size: xx-large;
  color: aquamarine;
}

h1 {
  font-size: xx-large;
  color: aquamarine
}

#header {
  font-size: large;
  color: darkgrey;
  border-bottom: 5px solid white;
}

#vehicles {
  font-size: medium;
  color: white;
}

table {
  margin-top: 100px;
  margin-bottom: 150px;
  border: 2px solid grey;
  border-radius: 10px;
}

tr {
  margin-top: 3px;
  margin-bottom: 3px;
}

td {
}
